
/* selector{
    key1 : value1;
    key2 : value2;
    key3 : value3;
} */


/* Universal Selector */

*{
    margin: 0;
    padding: 0;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/* Tag Selector */
/* 
h1{
    color : red;
}

h2{
    color : blue;
}

h3{
    color : green;
} */


/* class selector (.) */

/* .departure{
    color: brown;
}

.arrival{
    color: yellow;
}

.redBusLogo{
    height: 60px;
    width: 60px;
} */

/* Grouping */

/* .departure, .arrival{
    font-size: 20px;
    color: coral;
} */

/* Id selector (#) */

/* #mainHeader{
    background-color: rgb(235, 233, 230);
} */

/* Attribute selectors */

/* p[class="departure"]{
    color: purple;
}

pre[class="departure"]{
    color: rgb(11, 0, 128);
    font-style:italic;
    font-weight: bolder;
} */


/* Combination Selectors */

/* Descendant (Space) */

.bus-results h3{
    background-color: rgb(133, 132, 132);
}

/* Child Selector (>) */

.bus-card>.bus-name{
    background-color: rgb(223, 14, 14);
}

/* Adjacent Selector (+) */

.bus-card+.info{
    background-color: rgb(0, 0, 0);
    color: white;
}
/* GeneralSibling Selector ~ */
.bus-card ~ .info{
    
}

